<div class="container">
  <h2 class="center salt white-text">Sign up</h2>
  <br />

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions center">
      <button class="btn cyan waves-effect waves-light"><%= f.submit "Sign up" %></button>
      <!-- <button class="btn cyan waves-effect waves-light">Back</button> -->
    </div>
  <% end %>
</div>

