<%- if controller_name != 'sessions' %>
  <div class="btn green waves-effect waves-light"><%= link_to "Log in", new_session_path(resource_name) %></div><br />
<% end -%><br />

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="btn pink accent-2 waves-effect waves-light white-text"><%= link_to "Sign up", new_registration_path(resource_name) %></div><br />
<% end -%><br />

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="btn green accent-2 waves-effect waves-light"><%= link_to "Forgot your password?", new_password_path(resource_name) %></div><br />
<% end -%><br />

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="btn red waves-effect waves-light"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></div><br /><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="btn black waves-effect waves-light"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></div><br /><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="btn white waves-effect waves-light"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></div><br /><br />
  <% end -%>
<% end -%>

<div class="row links">
  <div class="col s12 m4 l4">
    <%= link_to "Sign up", new_registration_path(resource_name) %>
      <i class="fa fa-sign-in fa-5x"></i>
  </div>
  <div class="col s12 m4 l4">
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      <i class="fa fa-key fa-5x"></i>
  </div>
  <div class="col s12 m4 l4">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <i class="fa fa-facebook-official fa-5x"></i>
    <% end %>
  </div>
  <div class="col s12 m4 l4">
    <%= link_to user_omniauth_authorize_path(:twitter) do %>
      <i class="fa fa-twitter fa-5x"></i>   
    <% end %>
  </div>
</div>  