.container
  %h2.center-align Edit your profile, #{@user.username}.

  -# %form{ :action => "/users", :method => "post" }
  -#   %fieldset
  -#     %label{:for => "permalink"} Music liked:
  -#     %input{:name => "permalink", :type => "text", :value => ""}
  -#     %label{:for => "email"} email
  -#     %input{:name => "email", :type => "text", :value => @user.email}
  -#   %a.finish{:href => "/users#update", :method => "post"} Finish!

  = form_tag '/users' do
    = field_set_tag do
      = label_tag :permalink, 'Title:'
      = text_field_tag :permalink
      = label_tag :email, 'Email:'
      = text_field_tag :email
      = submit_tag 'Save Changes'
