%h5.center Welcome #{current_user.email}
%p.center Anyone has any questions about this email thing just slack me or ask me.
%div.socialright
	%h4 #{current_user.name}
	%img{alt: "profile_pic", src: "#{current_user.picture}"}
	%br
	%br
	%br
	= link_to 'Logout', destroy_user_session_path, method: 'delete'
%br
%br
%h2 Welcome to My Song
%br
%hr
.row
	.col.s8
		= react_component 'Search'
/ %iframe{: => "api.dar.fm/player_api.php?callsign=KBZT&onnow_display=true&station_display=true&volume_display=true&partner_token=9388418650" }
/ 	%p come one work?

/ %iframe{: => "http://api.dar.fm/playlist.php?q=*katy*%20*perry*&callback=jsonp&web=1&partner_token=9388418650" } 
/ 	%p working?


/ %iframe{:src => "http://api.dar.fm/player_api.php?callsign=KBZT&onnow_display=true&station_display=true&volume_display=true"}

%h1
	Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your nose. Floating candles Sir Cadogan The Sight three hoops disciplinary hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along dragon-scale suits Filch 20 points, Mr. Potter.

	Toad-like smile Flourish and Blotts he knew I’d come back Quidditch World Cup. Fat Lady baubles banana fritters fairy lights Petrificus Totalus. So thirsty, deluminator firs’ years follow me 12 inches of parchment. Head Boy start-of-term banquet Cleansweep Seven roaring lion hat. Unicorn blood crossbow mars is bright tonight, feast Norwegian Ridgeback. Come seek us where our voices sound, we cannot sing above the ground, Ginny Weasley bright red. Fanged frisbees, phoenix tears good clean match.

	Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and answer me this, which creature would you be unwilling to kiss? Poltergeist sticking charm, troll umbrella stand flying cars golden locket Lily Potter. Pumpkin juice Trevor wave your wand out glass orbs, a Grim knitted hats. Stan Shunpike doe patronus, suck his soul Muggle-Born large order of drills the trace. Bred in captivity fell through the veil, quaffle blue flame ickle diddykins Aragog. Yer a wizard, Harry Doxycide the woes of Mrs. Weasley Goblet of Fire.

%iframe{:src => "http://api.dar.fm/player_api.php?station_id=6537&custom_style=radioslice&partner_token=9388418650"}