<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <div class="btn blue waves-effect waves-light"><%= f.submit "Log in" %></div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<!-- player -->
<!-- <div>
  <iframe className="player" id="player" src="http://api.dar.fm/player_api.php?station_id=6480&custom_style=radioslice&partner_token=9388418650"></iframe>
</div> -->
