
<nav>
    <div class="nav-wrapper z-depth-3 cyan">
      <a href="#" class="brand-logo"><h1 class="nav-suff salt">T-Mix</h1></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="bigger" href="/static_pages/bio">About Us</a></li>
      </ul>
    </div>
</nav>
<br />
<div class="imageback">
  <h3 class="textonpic email salt">Login</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
    <div class="emailon input-field col m4 offset-m1">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="passon input-field col m4 offset-m1">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <button class="btn signin cyan waves-effect waves-light"><%= f.submit "Log in" %></button>
    <div class="myclass">
      <button class="btn cyan signup waves-effect"><%= link_to "Sign up", new_registration_path(resource_name) %></button>
    </div>
  <% end -%>
  <p class="faced">Sign in with</p>
  <div>
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <i class="fbook fa fa-facebook-official fa-5x"></i>
    <% end %>
  </div>
  <p class="tweetd">Sign in with</p>
  <div>
    <%= link_to user_omniauth_authorize_path(:twitter) do %>
      <i class="twet fa fa-twitter fa-5x"></i>   
    <% end %>
  </div>
  <div class="fright"><%= link_to "Forgot password?", new_password_path(resource_name) %></div>
  <div class="center"><img id="img" src="/assets/cassette_tape_black.jpg"></div>
</div>
       <!--<%#= f.submit "Log in" %>-->

