!!!
%html
  %head
    %title MySongIs
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "path/to/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Rock+Salt|Bangers", :rel => "stylesheet", :type => "text/css"}
  %body
    = yield
  %footer
    = javascript_include_tag 'application'

